{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for blog in object_list %}
        <div class="post-preview">
          <a href="{{ blog.get_absolute_url }}">
            <h2 class="post-title">
              {{ blog.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ blog.sub_title }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ blog.author }}</a>
            on {{ blog.created_at }}</p>
          <p>
            <span class="ml-1"><i class="fas fa-eye"> {{ blog.get_post_views }}</i></span>
            <span class="ml-5">
                {% if request.user.is_authenticated %}
                <a href="{{ blog.get_like_url }}"><i class="fas fa-heart"> {{ blog.get_like_count }}</i></a>
                {% else %}
                <i class="fas fa-heart"> {{ blog.get_like_count }}</i>
                {% endif %}

            </span>
            <span class="ml-5"><i class="fas fa-comment"> {{ blog.get_comment_count }}</i></span>
          </p>
        </div>
        <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
  {% endblock %}